<h4 class="styleguide__sub-title">Inline validation</h4>
<small>{{ sassPaths.atoms }}form-elements/_inline-validation.scss</small>
<p class="styleguide__p">
	Always provide immediate/inline feedback on user interaction.
	Feedback messages are informative and provide an easy escape or
	alternative/following action. The tone of voice should be human
	and add personality to the experience/brand.
</p>

<div class="a-input is-required">
	<label class="a-input__label" for="input-email-required">Email</label>
	<div class="a-input__field-holder">
		<input type="email" name="input-email-required" id="input-email-required" placeholder="your-email@domain.com" />
	</div>
	<small class="a-input__description">Don't worry, we won't spam you. Read our <a href="#" title="">privacy policy</a>.</small>
</div>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<div class="a-input is-required">
			<label class="a-input__label" for="input-email-required">Email</label>
			<div class="a-input__field-holder">
				<input type="email" name="input-email-required" id="input-email-required" placeholder="your-email@domain.com" />
			</div>
			<small class="a-input__description">Don't worry, we won't spam you. Read our <a href="#" title="">privacy policy</a>.</small>
		</div>
	</code>
</div>

<hr>

<div class="a-input is-error">
	<label class="a-input__label" for="input-email-error">Email</label>
	<div class="a-input__field-holder">
		<input type="email" name="input-email-error" id="input-email-error" placeholder="your-email@domain.com" value="john" />
	</div>
	<small class="a-input__description">Don't worry, we won't spam you. Read our <a href="#" title="">privacy policy</a>.</small>
</div>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<div class="a-input is-error">
			<label class="a-input__label" for="input-email-error">Email</label>
			<div class="a-input__field-holder">
				<input type="email" name="input-email-error" id="input-email-error" placeholder="your-email@domain.com" value="john" />
			</div>
			<small class="a-input__description">Don't worry, we won't spam you. Read our <a href="#" title="">privacy policy</a>.</small>
		</div>
	</code>
</div>

<hr>

<div class="a-input is-success">
	<label class="a-input__label" for="input-email-success">Email</label>
	<div class="a-input__field-holder">
		<input type="email" name="input-email-success" id="input-email-success" placeholder="your-email@domain.com" value="john@appleseed.com" />
	</div>
	<small class="a-input__description">Don't worry, we won't spam you. Read our <a href="#" title="">privacy policy</a>.</small>
</div>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<div class="a-input is-success">
			<label class="a-input__label" for="input-email-success">Email</label>
			<div class="a-input__field-holder">
				<input type="email" name="input-email-success" id="input-email-success" placeholder="your-email@domain.com" value="john@appleseed.com" />
			</div>
			<small class="a-input__description">Don't worry, we won't spam you. Read our <a href="#" title="">privacy policy</a>.</small>
		</div>
	</code>
</div>
