<h4 class="styleguide__sub-title">Default inputs</h4>
<small>{{ sassPaths.atoms }}form-elements/_input.scss</small>
<br/><br/>

<div class="a-input u-margin-bottom">
	<label class="a-input__label" for="input-text">Text input</label>
	<div class="a-input__field-holder">
		<input type="text" name="input-text" id="input-text" placeholder="Placeholder" />
	</div>
	<small class="a-input__description">Tell the user what kind of input is expected, add a <a href="#" title="">clickthrough as needed</a></small>
</div>

<div class="a-input u-margin-bottom">
	<label class="a-input__label" for="input-email">Email</label>
	<div class="a-input__field-holder">
		<input type="email" name="input-email" id="input-email" placeholder="your-email@domain.com" />
	</div>
	<small class="a-input__description">Don't worry, we won't spam you. Read our <a href="#" title="">privacy policy</a>.</small>
</div>

<div class="a-input u-margin-bottom">
	<label class="a-input__label" for="input-password">Password</label>
	<div class="a-input__field-holder">
		<input type="password" name="input-password" id="input-password" placeholder="Your password" />
	</div>
	<small class="a-input__description">Passwords should be 6 characters or more. Be tricky!</small>
</div>

<div class="a-input u-margin-bottom">
	<label class="a-input__label" for="input-number">Amount</label>
	<div class="a-input__field-holder">
		<input type="number" name="input-number" id="input-number" placeholder="3" min="0" step="0.5" max="20" />
	</div>
	<small class="a-input__description">Not what you expected? Please contact our <a href="#" title="">customer support</a>.</small>
</div>

<div class="a-input u-margin-bottom">
	<label class="a-input__label" for="input-telephone">Phone number</label>
	<div class="a-input__field-holder">
		<input type="tel" name="input-telephone" id="input-telephone" placeholder="+32 &times;&times;&times; &times;&times; &times;&times; &times;&times;" />
	</div>
	<small class="a-input__description">Don't worry, we only contact you when it's absolutely necessary.</small>
</div>

<div class="a-input u-margin-bottom">
	<label class="a-input__label" for="input-url">Website</label>
	<div class="a-input__field-holder">
		<input type="url" name="input-url" id="input-url" placeholder="http://" />
	</div>
	<small class="a-input__description">Tell us a little bit more about yourself.</small>
</div>

<div class="a-input">
	<label class="a-input__label" for="input-search">Search</label>
	<div class="a-input__field-holder">
		<input type="search" name="input-search" id="input-search" placeholder="Type to search" />
	</div>
	<small class="a-input__description">Can't find what you're looking for? Try our <a href="#" title="">frequently asked questions</a></small>
</div>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<div class="a-input">
			<label class="a-input__label" for="input-text">Text input</label>
			<div class="a-input__field-holder">
				<input type="text" placeholder="Placeholder" />
			</div>
			<small class="a-input__description">Tell the user what kind of input is expected, add a <a href="#" title="">clickthrough as needed</a></small>
		</div>
	</code>
</div>

<hr/>

<div class="a-input">
	<label class="a-input__label" for="input-text-disabled">Disabled input</label>
	<div class="a-input__field-holder">
		<input type="text" name="input-text-disabled" id="input-text-disabled" placeholder="Placeholder" disabled />
	</div>
	<small class="a-input__description">Tell the user what kind of input is expected, add a <a href="#" title="">clickthrough as needed</a></small>
</div>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<div class="a-input">
			<label class="a-input__label" for="input-text-disabled">Disabled input</label>
			<div class="a-input__field-holder">
				<input type="text" name="input-text-disabled" id="input-text-disabled" placeholder="Placeholder" disabled />
			</div>
			<small class="a-input__description">Tell the user what kind of input is expected, add a <a href="#" title="">clickthrough as needed</a></small>
		</div>
	</code>
</div>

<hr/>

<div class="a-input a-input--gray">
	<label class="a-input__label" for="input-text-gray">Gray input</label>
	<div class="a-input__field-holder">
		<input type="text" name="input-text-gray" id="input-text-gray" placeholder="Placeholder" />
	</div>
	<small class="a-input__description">Tell the user what kind of input is expected, add a <a href="#" title="">clickthrough as needed</a></small>
</div>

<div class="styleguide__highlight-box u-margin-bottom">
	<code class="js-encode-html">
		<div class="a-input a-input--gray">
			<label class="a-input__label" for="input-text-gray">Gray input</label>
			<div class="a-input__field-holder">
				<input type="text" name="input-text-gray" id="input-text-gray" placeholder="Placeholder" />
			</div>
			<small class="a-input__description">Tell the user what kind of input is expected, add a <a href="#" title="">clickthrough as needed</a></small>
		</div>
	</code>
</div>

<hr/>

<div class="a-input has-add-on u-margin-bottom">
	<label class="a-input__label" for="input-text-with-add-on">Text input with add-on</label>
	<div class="a-input__field-holder">
		<input type="text" name="input-text-with-add-on" id="input-text-with-add-on" placeholder="Placeholder" />
		<span class="a-input__add-on">&euro;</span>
	</div>
	<small class="a-input__description">Tell the user what kind of input is expected, add a <a href="#" title="">clickthrough as needed</a></small>
</div>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<div class="a-input has-add-on">
			<label class="a-input__label" for="input-text-with-add-on">Text input with add-on</label>
			<div class="a-input__field-holder">
				<input type="text" name="input-text-with-add-on" id="input-text-with-add-on" placeholder="Placeholder" />
				<span class="a-input__add-on">&euro;</span>
			</div>
			<small class="a-input__description">Tell the user what kind of input is expected, add a <a href="#" title="">clickthrough as needed</a></small>
		</div>
	</code>
</div>

<hr/>

<div class="a-input has-button u-margin-bottom">
	<label class="a-input__label" for="input-text-with-button">Text input with button</label>
	<div class="a-input__field-holder">
		<input type="text" name="input-text-with-button" id="input-text-with-button" placeholder="Placeholder" />
		<button class="a-button-transparent has-icon">
			<span class="icon-close"></span>
		</button>
	</div>
	<small class="a-input__description">Tell the user what kind of input is expected, add a <a href="#" title="">clickthrough as needed</a></small>
</div>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<div class="a-input has-button">
			<label class="a-input__label" for="input-text-with-button">Text input with button</label>
			<div class="a-input__field-holder">
				<input type="text" name="input-text-with-button" id="input-text-with-button" placeholder="Placeholder" />
				<button class="a-button-transparent has-icon">
					<span class="icon-close"></span>
				</button>
			</div>
			<small class="a-input__description">Tell the user what kind of input is expected, add a <a href="#" title="">clickthrough as needed</a></small>
		</div>
	</code>
</div>

<hr/>

<div class="a-input u-margin-bottom">
	<label class="a-input__label" for="input-text-with-link">Text input with link</label>
	<div class="a-input__field-holder">
		<input type="text" name="input-text-with-link" id="input-text-with-link" placeholder="Placeholder" />
	</div>
	<small class="a-input__description">Tell the user what kind of input is expected, add a <a href="#" title="">clickthrough as needed</a></small>
	<a href="#" class="a-input__link">
		<span>This is a link</span>
	</a>
</div>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<div class="a-input">
			<label class="a-input__label" for="input-text-with-link">Text input with link</label>
			<div class="a-input__field-holder">
				<input type="text" name="input-text-with-link" id="input-text-with-link" placeholder="Placeholder" />
			</div>
			<small class="a-input__description">Tell the user what kind of input is expected, add a <a href="#" title="">clickthrough as needed</a></small>
			<a href="#" class="a-input__link">
				<span>This is a link</span>
			</a>
		</div>
	</code>
</div>
