<h4 class="styleguide__sub-title">Upload</h4>
<small>{{ sassPaths.atoms }}form-elements/_multiple-upload.scss</small>
<br/><br/>

<div class="a-input">
	<label class="a-input__label">Carousel</label>

	<small class="a-input__description">
		Deze foto's zullen in een carousel getoond worden
	</small>

	<div class="a-input__multiple-upload">
		<div class="a-input__multiple-upload__list">
			<div class="a-input">
				<div class="a-input__checkbox">
					<input type="checkbox" id="my-uploaded-file-1">

					<label for="my-uploaded-file-1">
						<a href="#">my-file.jpg</a>
					</label>
				</div>

				<div class="a-input__checkbox">
					<input type="checkbox" id="my-uploaded-file-2">

					<label for="my-uploaded-file-2">
						<a href="#">my-file.jpg</a>
					</label>
				</div>
			</div>

			<button type="submit" class="a-button a-button--gray">
				<span>Geselecteerden verwijderen</span>
			</button>
		</div>

		<div class="a-input__multiple-upload__input">
			<div class="a-button a-button--gray">
				<input multiple="multiple" type="file">
				<span>Bestanden kiezen</span>
			</div>
		</div>
	</div>
</div>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<div class="a-input">
			<label class="a-input__label">Carousel</label>

			<small class="a-input__description">
				Deze foto's zullen in een carousel getoond worden
			</small>

			<div class="a-input__multiple-upload">
				<div class="a-input__multiple-upload__list">
					<div class="a-input">
						<div class="a-input__checkbox">
							<input type="checkbox" id="my-uploaded-file-1">

							<label for="my-uploaded-file-1">
								<a href="#">my-file.jpg</a>
							</label>
						</div>

						<div class="a-input__checkbox">
							<input type="checkbox" id="my-uploaded-file-2">

							<label for="my-uploaded-file-2">
								<a href="#">my-file.jpg</a>
							</label>
						</div>
					</div>

					<button type="submit" class="a-button a-button--gray">
						<span>Geselecteerden verwijderen</span>
					</button>
				</div>

				<div class="a-input__multiple-upload__input">
					<div class="a-button a-button--gray">
						<input multiple="multiple" type="file">
						<span>Bestanden kiezen</span>
					</div>
				</div>
			</div>
		</div>
	</code>
</div>
