<h4 class="styleguide__sub-title">Radio & Checkbox</h4>
<small>{{ sassPaths.atoms }}form-elements/_radio-checkbox.scss</small>
<br/><br/>

<div class="a-input">
	<div class="a-input__checkbox">
		<input type="checkbox" id="checkbox1" name="checkbox1" checked="">
		<label for="checkbox1">Option 1</label>
	</div>

	<div class="a-input__checkbox">
		<input type="checkbox" id="checkbox2" name="checkbox2">
		<label for="checkbox2">Option 2</label>
	</div>

	<div class="a-input__checkbox">
		<input type="checkbox" id="checkbox3" name="checkbox3" disabled="">
		<label for="checkbox3">Option 3</label>
	</div>

	<div class="a-input__checkbox a-input__checkbox--error">
		<input type="checkbox" id="checkbox4" name="checkbox4">
		<label for="checkbox4">Option 4</label>
		<small class="a-input__description u-text-error">You have to check this checkbox.</small>
	</div>
</div>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<div class="a-input">
			<div class="a-input__checkbox">
				<input type="checkbox" id="checkbox1" name="checkbox-example1" checked="">
				<label for="checkbox1">Option 1</label>
			</div>

			<div class="a-input__checkbox">
				<input type="checkbox" id="checkbox2" name="checkbox-example2">
				<label for="checkbox2">Option 2</label>
			</div>

			<div class="a-input__checkbox">
				<input type="checkbox" id="checkbox3" name="checkbox-example3" disabled="">
				<label for="checkbox3">Option 3</label>
			</div>

			<div class="a-input__checkbox a-input__checkbox--error">
				<input type="checkbox" id="checkbox4" name="checkbox-example4">
				<label for="checkbox4">Option 4</label>
				<small class="a-input__description u-text-error">You have to check this checkbox.</small>
			</div>
		</div>
	</code>
</div>

<hr>

<div class="a-input">
	<div class="a-input__checkbox a-input__checkbox--sm">
		<input type="checkbox" id="checkbox-small1" name="checkbox-small1" checked="">
		<label for="checkbox-small1">Option 1</label>
	</div>

	<div class="a-input__checkbox a-input__checkbox--sm">
		<input type="checkbox" id="checkbox-small2" name="checkbox-small2">
		<label for="checkbox-small2">Option 2</label>
	</div>

	<div class="a-input__checkbox a-input__checkbox--sm">
		<input type="checkbox" id="checkbox-small3" name="checkbox-small3" disabled="">
		<label for="checkbox-small3">Option 3</label>
	</div>

	<div class="a-input__checkbox a-input__checkbox--sm a-input__checkbox--error">
		<input type="checkbox" id="checkbox-small4" name="checkbox-small4">
		<label for="checkbox-small4">Option 4</label>
		<small class="a-input__description u-text-error">You have to check this checkbox.</small>
	</div>
</div>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<div class="a-input">
			<div class="a-input__checkbox a-input__checkbox--sm">
				<input type="checkbox" id="checkbox-small1" name="checkbox-example-small1" checked="">
				<label for="checkbox-small1">Option 1</label>
			</div>

			<div class="a-input__checkbox a-input__checkbox--sm">
				<input type="checkbox" id="checkbox-small2" name="checkbox-example-small2">
				<label for="checkbox-small2">Option 2</label>
			</div>

			<div class="a-input__checkbox a-input__checkbox--sm">
				<input type="checkbox" id="checkbox-small3" name="checkbox-example-small3" disabled="">
				<label for="checkbox-small3">Option 3</label>
			</div>

			<div class="a-input__checkbox a-input__checkbox--sm a-input__checkbox--error">
				<input type="checkbox" id="checkbox-small4" name="checkbox-example-small4">
				<label for="checkbox-small4">Option 4</label>
				<small class="a-input__description u-text-error">You have to check this checkbox.</small>
			</div>
		</div>
	</code>
</div>

<hr>

<div class="a-input">
	<div class="a-input__checkbox a-input__checkbox--boxed">
		<input type="checkbox" id="checkbox-boxed1" name="checkbox-boxed1" checked="">
		<label for="checkbox-boxed1">Option 1</label>
	</div>

	<div class="a-input__checkbox a-input__checkbox--boxed">
		<input type="checkbox" id="checkbox-boxed2" name="checkbox-boxed2">
		<label for="checkbox-boxed2">Option 2</label>
	</div>

	<div class="a-input__checkbox a-input__checkbox--boxed">
		<input type="checkbox" id="checkbox-boxed3" name="checkbox-boxed3" disabled="">
		<label for="checkbox-boxed3">Option 3</label>
	</div>

	<div class="a-input__checkbox a-input__checkbox--boxed a-input__checkbox--error">
		<input type="checkbox" id="checkbox-boxed4" name="checkbox-boxed4">
		<label for="checkbox-boxed4">Option 4</label>
		<small class="a-input__description u-text-error">You have to check this checkbox.</small>
	</div>
</div>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<div class="a-input">
			<div class="a-input__checkbox a-input__checkbox--boxed">
				<input type="checkbox" id="checkbox-boxed1" name="checkbox-example-boxed1" checked="">
				<label for="checkbox-boxed1">Option 1</label>
			</div>

			<div class="a-input__checkbox a-input__checkbox--boxed">
				<input type="checkbox" id="checkbox-boxed2" name="checkbox-example-boxed2">
				<label for="checkbox-boxed2">Option 2</label>
			</div>

			<div class="a-input__checkbox a-input__checkbox--boxed">
				<input type="checkbox" id="checkbox-boxed3" name="checkbox-example-boxed3" disabled="">
				<label for="checkbox-boxed3">Option 3</label>
			</div>

			<div class="a-input__checkbox a-input__checkbox--boxed a-input__checkbox--error">
				<input type="checkbox" id="checkbox-boxed4" name="checkbox-example-boxed4">
				<label for="checkbox-boxed4">Option 4</label>
				<small class="a-input__description u-text-error">You have to check this checkbox.</small>
			</div>
		</div>
	</code>
</div>

<hr>

<div class="a-input">
	<div class="a-input__checkbox a-input__checkbox--boxed">
		<input type="checkbox" id="checkbox-nested1" name="checkbox-nested1" checked="">
		<label for="checkbox-nested1">Option 1</label>

		<div class="a-input">
			<div class="a-input__checkbox a-input__checkbox--boxed">
				<input type="checkbox" id="checkbox-nested2" name="checkbox-nested2">
				<label for="checkbox-nested2">Option 2</label>
			</div>

			<div class="a-input__checkbox a-input__checkbox--boxed">
				<input type="checkbox" id="checkbox-nested3" name="checkbox-nested3" disabled="">
				<label for="checkbox-nested3">Option 3</label>
			</div>

			<div class="a-input__checkbox a-input__checkbox--boxed a-input__checkbox--error">
				<input type="checkbox" id="checkbox-nested4" name="checkbox-nested4">
				<label for="checkbox-nested4">Option 4</label>
				<small class="a-input__description u-text-error">You have to check this checkbox.</small>
			</div>
		</div>
	</div>
</div>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<div class="a-input">
			<div class="a-input__checkbox a-input__checkbox--boxed">
				<input type="checkbox" id="checkbox-nested1" name="checkbox-example-nested1" checked="">
				<label for="checkbox-nested1">Option 1</label>

				<div class="a-input">
					<div class="a-input__checkbox a-input__checkbox--boxed">
						<input type="checkbox" id="checkbox-nested2" name="checkbox-example-nested2">
						<label for="checkbox-nested2">Option 2</label>
					</div>

					<div class="a-input__checkbox a-input__checkbox--boxed">
						<input type="checkbox" id="checkbox-nested3" name="checkbox-example-nested3" disabled="">
						<label for="checkbox-nested3">Option 3</label>
					</div>

					<div class="a-input__checkbox a-input__checkbox--boxed a-input__checkbox--error">
						<input type="checkbox" id="checkbox-nested4" name="checkbox-example-nested4">
						<label for="checkbox-nested4">Option 4</label>
						<small class="a-input__description u-text-error">You have to check this checkbox.</small>
					</div>
				</div>
			</div>
		</div>
	</code>
</div>

<hr>

<div class="a-input">
	<div class="a-input__radio">
		<input type="radio" id="radio1" name="radio" checked="">
		<label for="radio1">Option 1</label>
	</div>

	<div class="a-input__radio">
		<input type="radio" id="radio2" name="radio">
		<label for="radio2">Option 2</label>
	</div>

	<div class="a-input__radio">
		<input type="radio" id="radio3" name="radio" disabled="">
		<label for="radio3">Option 3</label>
	</div>

	<div class="a-input__radio a-input__radio--error">
		<input type="radio" id="radio4" name="radio">
		<label for="radio4">Option 4</label>
		<small class="a-input__description u-text-error">You have to check this radio button.</small>
	</div>
</div>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<div class="a-input">
			<div class="a-input__radio">
				<input type="radio" id="radio1" name="radio-example" checked="">
				<label for="radio1">Option 1</label>
			</div>

			<div class="a-input__radio">
				<input type="radio" id="radio2" name="radio-example">
				<label for="radio2">Option 2</label>
			</div>

			<div class="a-input__radio">
				<input type="radio" id="radio3" name="radio-example" disabled="">
				<label for="radio3">Option 3</label>
			</div>

			<div class="a-input__radio a-input__radio--error">
				<input type="radio" id="radio4" name="radio-example">
				<label for="radio4">Option 4</label>
				<small class="a-input__description u-text-error">You have to check this radio button.</small>
			</div>
		</div>
	</code>
</div>

<hr>

<div class="a-input">
	<div class="a-input__radio a-input__radio--sm">
		<input type="radio" id="radio-small1" name="radio-small" checked="">
		<label for="radio-small1">Option 1</label>
	</div>

	<div class="a-input__radio a-input__radio--sm">
		<input type="radio" id="radio-small2" name="radio-small">
		<label for="radio-small2">Option 2</label>
	</div>

	<div class="a-input__radio a-input__radio--sm">
		<input type="radio" id="radio-small3" name="radio-small" disabled="">
		<label for="radio-small3">Option 3</label>
	</div>

	<div class="a-input__radio a-input__radio--sm a-input__radio--error">
		<input type="radio" id="radio-small4" name="radio-small">
		<label for="radio-small4">Option 4</label>
		<small class="a-input__description u-text-error">You have to check this radio button.</small>
	</div>
</div>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<div class="a-input">
			<div class="a-input__radio a-input__radio--sm">
				<input type="radio" id="radio-small1" name="radio-example-small" checked="">
				<label for="radio-small1">Option 1</label>
			</div>

			<div class="a-input__radio a-input__radio--sm">
				<input type="radio" id="radio-small2" name="radio-example-small">
				<label for="radio-small2">Option 2</label>
			</div>

			<div class="a-input__radio a-input__radio--sm">
				<input type="radio" id="radio-small3" name="radio-example-small" disabled="">
				<label for="radio-small3">Option 3</label>
			</div>

			<div class="a-input__radio a-input__radio--sm a-input__radio--error">
				<input type="radio" id="radio-small4" name="radio-example-small">
				<label for="radio-small4">Option 4</label>
				<small class="a-input__description u-text-error">You have to check this radio button.</small>
			</div>
		</div>
	</code>
</div>

<hr>

<div class="a-input">
	<div class="a-input__radio a-input__radio--boxed">
		<input type="radio" id="radio-boxed1" name="radio-boxed" checked="">
		<label for="radio-boxed1">Option 1</label>
	</div>

	<div class="a-input__radio a-input__radio--boxed">
		<input type="radio" id="radio-boxed2" name="radio-boxed">
		<label for="radio-boxed2">Option 2</label>
	</div>

	<div class="a-input__radio a-input__radio--boxed">
		<input type="radio" id="radio-boxed3" name="radio-boxed" disabled="">
		<label for="radio-boxed3">Option 3</label>
	</div>

	<div class="a-input__radio a-input__radio--boxed a-input__radio--error">
		<input type="radio" id="radio-boxed4" name="radio-boxed">
		<label for="radio-boxed4">Option 4</label>
		<small class="a-input__description u-text-error">You have to check this radio button.</small>
	</div>
</div>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<div class="a-input">
			<div class="a-input__radio a-input__radio--boxed">
				<input type="radio" id="radio-boxed1" name="radio-example-boxed" checked="">
				<label for="radio-boxed1">Option 1</label>
			</div>

			<div class="a-input__radio a-input__radio--boxed">
				<input type="radio" id="radio-boxed2" name="radio-example-boxed">
				<label for="radio-boxed2">Option 2</label>
			</div>

			<div class="a-input__radio a-input__radio--boxed">
				<input type="radio" id="radio-boxed3" name="radio-example-boxed" disabled="">
				<label for="radio-boxed3">Option 3</label>
			</div>

			<div class="a-input__radio a-input__radio--boxed a-input__radio--error">
				<input type="radio" id="radio-boxed4" name="radio-example-boxed">
				<label for="radio-boxed4">Option 4</label>
				<small class="a-input__description u-text-error">You have to check this radio button.</small>
			</div>
		</div>
	</code>
</div>

<hr>

<div class="a-input a-input--inline">
	<div class="a-input__radio">
		<input type="radio" id="radio-inline1" name="radio-inline" checked="">
		<label for="radio-inline1">Option 1</label>
	</div>

	<div class="a-input__radio">
		<input type="radio" id="radio-inline2" name="radio-inline">
		<label for="radio-inline2">Option 2</label>
	</div>
</div>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<div class="a-input a-input--inline">
			<div class="a-input__radio">
				<input type="radio" id="radio-inline-example1" name="radio-inline-example">
				<label for="radio-inline-example1">Option 1</label>
			</div>

			<div class="a-input__radio">
				<input type="radio" id="radio-inline-example2" name="radio-inline-example">
				<label for="radio-inline-example2">Option 2</label>
			</div>
		</div>
	</code>
</div>
