<h4 class="styleguide__sub-title">Select</h4>
<small>{{ sassPaths.atoms }}form-elements/_select.scss</small>
<br/><br/>

<div class="a-input has-icon">
	<label class="a-input__label" for="input-no-selection">Select with no selection</label>
	<div class="a-input__field-holder">
		<select class="has-no-value" name="input-no-selection" id="input-no-selection">
			<option value="" selected disabled>Make your selection...</option>
			<option value="1">Option 1</option>
			<option value="2">Option 2</option>
			<option value="3">Option 3</option>
			<option value="4">Option 4</option>
			<option value="5">Option 5</option>
		</select>
		<span class="icon-arrow-down"></span>
	</div>
	<small class="a-input__description">To mimic placeholder styling, add a 'has-no-value' class to the &lt;select&gt;</small>
</div>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<div class="a-input has-icon">
			<label class="a-input__label" for="input-no-selection">Select with no selection</label>
			<div class="a-input__field-holder">
				<select class="has-no-value" name="input-no-selection" id="input-no-selection">
					<option value="" selected disabled>Make your selection...</option>
					<option value="1">Option 1</option>
					<option value="2">Option 2</option>
					<option value="3">Option 3</option>
					<option value="4">Option 4</option>
					<option value="5">Option 5</option>
				</select>
				<span class="icon-arrow-down"></span>
			</div>
			<small class="a-input__description">To mimic placeholder styling, add a 'has-no-value' class to the &lt;select&gt;</small>
		</div>
	</code>
</div>

<hr/>

<div class="a-input has-icon">
	<label class="a-input__label" for="input-select">Select with selection</label>
	<div class="a-input__field-holder">
		<select name="input-select" id="input-select">
			<option value="" disabled>Make your selection...</option>
			<option value="1" selected>Option 1</option>
			<option value="2">Option 2</option>
			<option value="3">Option 3</option>
			<option value="4">Option 4</option>
			<option value="5">Option 5</option>
		</select>
		<span class="icon-arrow-down"></span>
	</div>
	<small class="a-input__description">To mimic placeholder styling, add a 'has-no-value' class to the &lt;select&gt;</small>
</div>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<div class="a-input has-icon">
			<label class="a-input__label" for="input-select">Select with selection</label>
			<div class="a-input__field-holder">
				<select name="input-select" id="input-select">
					<option value="" disabled>Make your selection...</option>
					<option value="1" selected>Option 1</option>
					<option value="2">Option 2</option>
					<option value="3">Option 3</option>
					<option value="4">Option 4</option>
					<option value="5">Option 5</option>
				</select>
				<span class="icon-arrow-down"></span>
			</div>
			<small class="a-input__description">To mimic placeholder styling, add a 'has-no-value' class to the &lt;select&gt;</small>
		</div>
	</code>
</div>

<hr/>

<div class="a-input has-icon">
	<label class="a-input__label" for="input-select-disabled">Disabled select</label>
	<div class="a-input__field-holder">
		<select class="has-no-value" name="input-select-disabled" id="input-select-disabled" disabled>
			<option value="" selected disabled>Make your selection...</option>
			<option value="1">Option 1</option>
			<option value="2">Option 2</option>
			<option value="3">Option 3</option>
			<option value="4">Option 4</option>
			<option value="5">Option 5</option>
		</select>
		<span class="icon-arrow-down"></span>
	</div>
	<small class="a-input__description">To mimic placeholder styling, add a 'has-no-value' class to the &lt;select&gt;</small>
</div>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<div class="a-input has-icon">
			<label class="a-input__label" for="input-select-disabled">Disabled select</label>
			<div class="a-input__field-holder">
				<select class="has-no-value" name="input-select-disabled" id="input-select-disabled" disabled>
					<option value="" selected disabled>Make your selection...</option>
					<option value="1">Option 1</option>
					<option value="2">Option 2</option>
					<option value="3">Option 3</option>
					<option value="4">Option 4</option>
					<option value="5">Option 5</option>
				</select>
				<span class="icon-arrow-down"></span>
			</div>
			<small class="a-input__description">To mimic placeholder styling, add a 'has-no-value' class to the &lt;select&gt;</small>
		</div>
	</code>
</div>
