<h1 class="styleguide__title js-scroll-nav__sub-title">Slider</h1>
<small>{{ sassPaths.atoms }}_slider.scss</small>
<br/><br/>

{% include "partials/slider.njk" %}

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		{% include "partials/slider.njk" %}
	</code>
</div>
