<h4 class="styleguide__sub-title">Textarea</h4>
<small>{{ sassPaths.atoms }}form-elements/_input.scss</small>
<br/><br/>

<div class="a-input">
	<label class="a-input__label" for="input-textarea">Remarks</label>
	<div class="a-input__field-holder">
		<textarea name="input-textarea" id="input-textarea" cols="30" rows="5" placeholder="Your message"></textarea>
	</div>
	<small class="a-input__description">Feedback, suggestions, ideas, ... we would love to hear from you!</small>
</div>

<div class="styleguide__highlight-box u-margin-bottom-lg">
	<code class="js-encode-html">
		<div class="a-input">
			<label class="a-input__label" for="input-textarea">Remarks</label>
			<div class="a-input__field-holder">
				<textarea placeholder="Your message"></textarea>
			</div>
			<small class="a-input__description">Feedback, suggestions, ideas, ... we would love to hear from you!</small>
		</div>
	</code>
</div>
