<h4 class="styleguide__sub-title">Upload</h4>
<small>{{ sassPaths.atoms }}form-elements/_upload.scss</small>
<br/><br/>

<div class="a-input">
	<label class="a-input__label">Foto’s</label>
	<small class="a-input__description">Deze foto’s worden vertoond op een foto carrousel.</small>

	<div class="a-input__upload">
		<div class="a-input__upload__input">
			<div class="a-button a-button--gray">
				<input class="js-upload-toggle" type="file" name="upload-input">
				<span>Kies een bestand</span>
			</div>

			<span class="a-input__upload__info">Geen bestand gekozen</span>
		</div>

		<div class="a-input__upload__button">
			<input type="submit" id="upload" name="upload" value="Uploaden" class="a-button a-button--gray" />
		</div>
	</div>
</div>

<div class="styleguide__highlight-box u-margin-bottom-lg">
	<code class="js-encode-html">
		<div class="a-input">
			<label class="a-input__label">Foto’s</label>
			<small class="a-input__description">Deze foto’s worden vertoond op een foto carrousel.</small>

			<div class="a-input__upload">
				<div class="a-input__upload__input">
					<div class="a-button a-button--gray">
						<input class="js-upload-toggle" type="file" name="upload-input">
						<span>Kies een bestand</span>
					</div>

					<span class="a-input__upload__info">Geen bestand gekozen</span>
				</div>

				<div class="a-input__upload__button">
					<div class="a-button a-button--gray">
						<input type="submit" id="upload" name="upload" value="Uploaden" class="a-button a-button--gray" />
					</div>
				</div>
			</div>
		</div>
	</code>
</div>

<hr>

<div class="a-input">
	<label class="a-input__label">Foto’s</label>
	<small class="a-input__description">Deze foto’s worden vertoond op een foto carrousel.</small>

	<div class="a-input__upload">
		<div class="a-input__upload__input">
			<div class="a-button a-button--gray">
				<input class="js-upload-toggle" type="file" name="upload-input">
				<span>Kies een bestand</span>
			</div>

			<a href="#" class="a-input__upload__info is-inverted">
				<span>folder.pdf</span>
			</a>
		</div>

		<div class="a-input__upload__button">
			<input type="submit" id="upload" name="upload" value="Uploaden" class="a-button a-button--gray" />
		</div>
	</div>
</div>

<div class="styleguide__highlight-box u-margin-bottom-lg">
	<code class="js-encode-html">
		<label class="a-input__label">Foto’s</label>
		<small class="a-input__description">Deze foto’s worden vertoond op een foto carrousel.</small>

		<div class="a-input__upload">
			<div class="a-input__upload__input">
				<div class="a-button a-button--gray">
					<input class="js-upload-toggle" type="file" name="upload-input">
					<span>Kies een bestand</span>
				</div>

				<a href="#" class="a-input__upload__info is-inverted">
					<span>folder.pdf</span>
				</a>
			</div>

			<div class="a-input__upload__button">
				<div class="a-button a-button--gray">
					<input type="submit" id="upload" name="upload" value="Uploaden" class="a-button a-button--gray" />
				</div>
			</div>
		</div>
	</code>
</div>

<hr>

<div class="a-input">
	<label class="a-input__label">Foto’s</label>
	<small class="a-input__description">Deze foto’s worden vertoond op een foto carrousel.</small>

	<div class="a-input__upload">
		<div class="a-input__upload__input">
			<a href="#" class="a-input__upload__info is-inverted">
				<span>folder.pdf</span>
			</a>
		</div>

		<div class="a-input__upload__button">
			<div class="a-button a-button--gray">
				<input type="submit" id="delete-upload" name="delete-upload" value="verwijderen" class="a-input__upload__button">
			</div>
		</div>
	</div>
</div>

<div class="styleguide__highlight-box u-margin-bottom-lg">
	<code class="js-encode-html">
		<div class="a-input">
			<label class="a-input__label">Foto’s</label>
			<small class="a-input__description">Deze foto’s worden vertoond op een foto carrousel.</small>

			<div class="a-input__upload">
				<div class="a-input__upload__input">
					<a href="#" class="a-input__upload__info is-inverted">
						<span>folder.pdf</span>
					</a>
				</div>

				<div class="a-input__upload__button">
					<div class="a-button a-button--gray">
						<input type="submit" id="delete-upload" name="delete-upload" value="verwijderen" class="a-input__upload__button">
					</div>
				</div>
			</div>
		</div>
	</code>
</div>
