/*doc
---
title: Typography
name: 02_typography
category: quarks
---
<div class="row">
    <div class="col s12">
        <h1> Heading 1 </h1>
        <h2> Heading 2 </h2>
        <h3> Heading 3 </h3>
        <h4> Heading 4 </h4>
        <h5> Heading 5 </h5>
        <h6> Heading 6 </h6>
    </div>

    <div class="col s12">
        <p>
            Paragraph <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis pulvinar leo nec condimentum. Orci varius natoque penatibus et magnis dis
            parturient montes, nascetur ridiculus mus.
            Mauris pretium gravida fermentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            Phasellus neque sapien, faucibus vel pulvinar sit amet, tempor eu urna. Nunc at pellentesque nunc, a viverra diam. Donec tempus metus eget sagittis volutpat.
            Maecenas at justo tincidunt risus molestie gravida. Duis vitae vehicula nibh, id tempor dui. Phasellus ac imperdiet turpis, ac rutrum mi.
            Etiam eu euismod magna, nec venenatis orci. Sed vel urna sed sem pellentesque malesuada efficitur id quam. Integer vitae ornare tortor, <br>
            eget sollicitudin augue. Proin imperdiet ipsum risus, vitae aliquam est fringilla vitae. Aenean vitae turpis velit. Maecenas laoreet massa id
            ipsum consequat, in auctor erat maximus. Proin dignissim urna ac neque efficitur scelerisque. Phasellus faucibus lacinia risus,
            et gravida nisi molestie a. In placerat orci non neque venenatis finibus. Morbi ligula purus, vehicula eu leo non, lobortis tincidunt massa.
        </p>
    </div>
</div>
*/

a.no-style, a.no-style:hover, a.no-style:active, a.no-style:visited {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: inherit;
}