// -------------------------------------------------------------------
// :: ACCORDION
// -------------------------------------------------------------------


// -------------------------------------------------------------------
// :: ACCORDION ELEMENTS
// -------------------------------------------------------------------

.m-accordion__tab {
	@extend %u-text-truncate;

	display: block;
	position: relative;

	width: 100%;
	height: rem(45px);

	margin: -$border-width 0 0 ;
	padding: 0 rem(50px) 0 rem(20px);

	text-align: left;
	line-height: rem(45px);

	background-color: $white;
	border: $border;

	transition: background-color $animation-normal;

	cursor: pointer;

	[class*="icon"] {
		position: absolute;
		top: 50%;
		right: rem(20px);

		transform: translateY(-50%);

		&:before {
			display: block;

			transition: transform $animation-normal;
		}
	}
}

.m-accordion__content {
	background-color: $white;
	border-bottom: $border;
}

.m-accordion__list {
	padding: 0 $spacer;

	list-style: none;

	li {
		padding: $spacer / 2 0;

		&:not(:last-child) {
			border-bottom: $border-light;
		}
	}
}

.m-accordion__autocomplete {
	padding: rem(12px);

	background-color: $white;

	.a-input select,
	.a-input input:not([class*="a-button"], [type="checkbox"], [type="radio"]) {

		@include at($screen-xs) {
			min-height: rem(36px);

			padding: 0 rem(45px) 0 rem(15px);
		}
	}
}

// -------------------------------------------------------------------
// :: ACCORDION MODIFIERS
// -------------------------------------------------------------------

.m-accordion__tab.ui-state-active .icon-arrow-down:before {
	transform: rotate(-180deg);
}
