// -------------------------------------------------------------------
// :: BREADCRUMB
// -------------------------------------------------------------------

.m-breadcrumb {
	background-color: $overlay-color-xlight;
}


// -------------------------------------------------------------------
// :: BREADCRUMB ELEMENTS
// -------------------------------------------------------------------

.m-breadcrumb__inner {
	max-width: $screen-lg;

	margin-right: auto;
	margin-left: auto;
	padding: rem(10px) rem(20px) rem(10px) rem(110px);

	@include at($screen-md) {
		padding-left: rem(150px);
	}

	a {
		@extend %u-link-inverted;

		color: $text-color;

		@include at($screen-xs) {
			opacity: 0.6;
		}

		&:hover,
		&:active {

			@include at($screen-xs) {
				opacity: 1;
			}
		}
	}
}

.m-breadcrumb__list {
	@extend %u-list-unstyled;

	display: flex;
	flex-wrap: wrap;
	margin-bottom: rem(-12px);

	@include at($screen-sm) {
		margin-bottom: 0;
	}
}

.m-breadcrumb__item {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;

	margin-bottom: rem(12px);

	font-size: rem($font-size-sm);
	line-height: rem($line-height-sm);

	color: $text-color;

	@include at($screen-sm) {
		margin-bottom: 0;
	}

	&:not(:last-child):before {
		content: "|";

		margin: 0 rem(12px);

		opacity: 0.6;
	}
}

.m-breadcrumb__link {
	@extend %u-text-truncate;

	display: block;
}


// -------------------------------------------------------------------
// :: BREADCRUMB MODIFIERS
// -------------------------------------------------------------------

.m-breadcrumb.m-breadcrumb--dark {
	background-color: $overlay-color-light;

	a {
		color: $white;
	}

	.m-breadcrumb__item {
		color: $white;
	}
}
