// -------------------------------------------------------------------
// :: CARD
// -------------------------------------------------------------------

.m-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;

	background-color: $white;
}

a.m-card {
	@extend %u-link-unstyled;

	color: $text-color;

	.m-card__title {
		transition: color $animation-normal;
	}

	&:hover,
	&:focus {

		.m-card__title {
			color: $primary-color;
		}
	}
}


// -------------------------------------------------------------------
// :: CARD ELEMENTS
// -------------------------------------------------------------------

.m-card__close {
	position: absolute;
	top: 0;
	right: 0;
}

.m-card__image {
	display: block;

	width: 100%;

	pointer-events: none;
}

.m-card__body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	padding: rem(15px) rem(20px);

	background-color: $white;

	@include at($screen-sm) {
		padding: rem(30px);
	}
}

.m-card__body,
.m-card__content {
	flex-grow: 1;
}

.m-card__date {
	color: inherit;
}

.m-card__date,
.m-card__title {
	margin-bottom: rem(10px);
}

.m-card__link,
.m-card__button {
	margin-top: rem(10px);

	@include at($screen-sm) {
		margin-top: rem(20px);
	}

	@include at($screen-md) {
		margin-top: rem(25px);
	}
}


// -------------------------------------------------------------------
// :: CARD MODIFIERS
// -------------------------------------------------------------------

.m-card.m-card--with-pattern {
	overflow: hidden;
	position: relative;

	&:before,
	&:after {
		content: "";

		position: absolute;
	}

	&:before {
		top: rem(-1000px);
		right: rem(-1000px);
		bottom: rem(-1000px);
		left: rem(-1000px);

		background-image: url("../img/patterns/pattern-gray.svg");

		transform: rotate(-315deg);
	}

	&:after {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		background-image: linear-gradient(-75deg, $white 45%, transparent 0);

		z-index: layer("auto");
	}

	.m-card__body {
		position: relative;

		background-color: transparent;

		z-index: layer("base");
	}
}

.m-card.m-card--with-arrow {
	position: relative;

	box-shadow: $box-shadow;

	&:before {
		content: "";

		position: absolute;
		bottom: 0;
		left: 50%;

		border-left: rem(20px) solid transparent;
		border-right: rem(20px) solid transparent;
		border-top: rem(20px) solid $gray-xxlight;

		transform: translate(-50%, 100%);
	}

	&:after {
		content: "";

		position: absolute;
		bottom: 0;
		left: 50%;

		border-left: rem(16px) solid transparent;
		border-right: rem(16px) solid transparent;
		border-top: rem(16px) solid $white;

		transform: translate(-50%, 100%);
	}
}

.m-card.m-card--centered {
	display: flex;
	align-items: center;
	justify-content: center;

	min-height: rem(188px);

	.m-card__body,
	.m-card__content {
		flex-grow: 0;
	}

	.m-card__body {
		margin: 0 rem(70px);

		text-align: center;
	}
}
