// -------------------------------------------------------------------
// :: DRAWER
// -------------------------------------------------------------------


// -------------------------------------------------------------------
// :: DRAWER ELEMENTS
// -------------------------------------------------------------------

.m-drawer__tab {
	@extend .icon-arrow-down; // sass-lint:disable-line placeholder-in-extend

	display: block;
	vertical-align: middle;
	overflow: hidden;
	position: relative;

	width: 100%;

	margin: 0;
	padding: rem(20px) rem(45px) rem(20px) rem(20px);

	text-align: left;
	font-size: rem($font-size);

	background-color: $background-color;
	border: none;
	border-radius: 0;

	transition-duration: $animation-duration;
	transition-property: color, background-color;
	transition-timing-function: $animation-easing;

	cursor: pointer;

	@include at($screen-xs) {
		padding: rem(30px) rem(65px) rem(30px) rem(30px);
	}

	&:before {
		display: block;
		position: absolute;
		top: rem(24px);
		right: rem(20px);

		color: inherit;

		transition: transform $animation-normal;

		@include at($screen-xs) {
			top: rem(32px);
		}

		@include at($screen-sm) {
			right: rem(30px);

			font-size: rem(24px);
		}
	}

	&.ui-state-active,
	&:hover,
	&:focus {
		color: $white;
		background-color: $primary-color;
	}
}

.m-drawer__article {
	padding: rem(20px);

	background-color: $background-color-light;

	@include at($screen-sm) {
		padding: rem(30px);
	}
}


// -------------------------------------------------------------------
// :: DRAWER MODIFIERS
// -------------------------------------------------------------------

.m-drawer__tab.ui-state-active:before {
	transform: rotate(180deg);
}
