// -------------------------------------------------------------------
// :: FEEDBACK
// -------------------------------------------------------------------

.m-feedback {
	padding: rem(40px) 0;

	@include at($screen-sm) {
		padding: rem(70px) 0;
	}
}


// -------------------------------------------------------------------
// :: FEEDBACK ELEMENTS
// -------------------------------------------------------------------

.m-feedback__inner {
	max-width: rem(300px);

	margin: 0 auto;

	text-align: center;

	p {
		font-style: italic;

		color: $text-color-light;
	}
}

.m-feedback__icon {
	display: inline-block;

	margin: 0 auto rem(10px);

	font-size: rem(80px);

	color: $gray-light;

	@include at($screen-sm) {
		margin: 0 auto rem(20px);

		font-size: rem(100px);
	}
}


// -------------------------------------------------------------------
// :: FEEDBACK MODIFIER
// -------------------------------------------------------------------

.m-feedback--dark .m-feedback__icon {
	color: $gray;
}
