// -------------------------------------------------------------------
// :: LABEL LIST
// -------------------------------------------------------------------

.m-label-list {
	@extend %u-list-unstyled;

	display: flex;
	flex-wrap: wrap;
	overflow: hidden;

	margin-bottom: rem(-10px);

	@include at($screen-sm) {
		margin-bottom: rem(-12px);
	}

	li {
		margin-bottom: rem(10px);

		@include at($screen-sm) {
			margin-bottom: rem(12px);
		}

		&:not(:last-child) {
			margin-right: rem(8px);

			@include at($screen-sm) {
				margin-right: rem(10px);
			}
		}

		&.has-more-spacing:not(:last-child) {
			margin-right: rem(20px);

			@include at($screen-sm) {
				margin-right: rem(30px);
			}
		}
	}
}
