// -------------------------------------------------------------------
// :: MENU
// -------------------------------------------------------------------

.m-menu {
	@extend %u-list-unstyled;
}


// -------------------------------------------------------------------
// :: MENU ELEMENTS
// -------------------------------------------------------------------

.m-menu__link {

	a {
		@extend %u-link-unstyled;

		display: block;

		margin: 0 auto;
		padding: rem(15px);

		text-align: center;
		font-weight: $font-weight-heavy;
		font-size: rem($font-size-h5);
		line-height: rem($line-height-h5);

		color: $white;

		transition: color $animation-duration;

		&:hover,
		&:focus,
		&:active {
			color: $blue;
		}
	}

	&.is-active a {
		color: $blue;
	}
}
