// -------------------------------------------------------------------
// :: NAVIGATION
// -------------------------------------------------------------------


// -------------------------------------------------------------------
// :: NAVIGATION ELEMENTS
// -------------------------------------------------------------------

.m-navigation__nav {
	@extend %u-list-unstyled;

	display: flex;

	height: rem(88px);
}

.m-navigation__nav-item {
	position: relative;

	height: 100%;

	a {
		@extend %u-link-unstyled;

		display: block;
		position: relative;

		font-weight: $font-weight-medium;
		line-height: rem(88px);

		color: $text-color-light;

		&:hover,
		&:active,
		&:focus {
			color: $text-color;

			&:after {
				background-color: $primary-color;
			}
		}

		&:after {
			content: "";

			display: block;
			position: absolute;
			bottom: rem(20px);
			left: 50%;

			height: rem(3px);
			width: rem(20px);

			background-color: transparent;

			transform: translateX(-50%);
			transition: background-color $animation-normal;
		}
	}

	&.is-active a {
		color: $text-color;

		&:after {
			background-color: $primary-color;
		}
	}

	&:not(:last-child) {
		margin-right: rem(30px);

		@include at($screen-md) {
			margin-right: rem(50px);
		}

		@include at($screen-lg) {
			margin-right: rem(70px);
		}
	}
}
