// -------------------------------------------------------------------
// :: SEARCH
// -------------------------------------------------------------------

$search-shadow: 0 0 30px 0 rgba(12, 17, 34, 0.05);

.m-search {
	display: flex;

	.a-button {
		width: rem(56px);
		height: rem(36px);

		@include at($screen-xs) {
			width: rem(70px);
			height: rem(50px);
		}

		[class*="icon"] {

			@include at($screen-lg) {
				font-size: rem(30px);
			}
		}

		// Necessary for Drupal
		input[type="submit"] {
			width: rem(56px);
			height: rem(36px);

			padding: 0;

			background-color: transparent;
			border: none;

			@include at($screen-xs) {
				width: rem(70px);
				height: rem(50px);
			}
		}
	}
}


// -------------------------------------------------------------------
// :: SEARCH ELEMENTS
// -------------------------------------------------------------------

.m-search__input {
	flex-grow: 1;

	input:not([class*="a-button"], [type="checkbox"], [type="radio"]) {
		width: 100%;
		height: rem(36px);

		padding: 0 rem(20px);

		font-weight: $font-weight-medium;

		color: $text-color;
		background-color: $background-color;
		border-color: transparent;
		border-radius: 0;

		transition-duration: $animation-duration;
		transition-property: background, border, box-shadow;
		transition-timing-function: $animation-easing;

		&::-ms-clear {
			width: 20px !important;
			height: 20px !important;

			font-size: 20px !important;
		}

		@include at($screen-xs) {
			min-height: rem(50px);

			padding: rem(8px) rem(20px);
		}

		@include input-placeholder {
			font-weight: $font-weight-normal;
			font-style: italic;

			color: $gray-dark;
		}

		&:focus {
			background-color: $white;
			border-color: transparent;
			box-shadow: $search-shadow;
		}
	}
}
