// -------------------------------------------------------------------
// :: TILE
// -------------------------------------------------------------------

.m-tile {
	position: relative;
	overflow: hidden;
	display: flex;

	width: 100%;

	@include at($screen-sm) {
		align-content: center;
		justify-content: center;
	}

	&:after {
		content: "";

		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		width: 100%;
		height: 100%;

		background-image: linear-gradient(135deg, $blue-light 0%, $black 100%);

		opacity: 0.8;
		transition: opacity $animation-normal;

		z-index: layer("base");
	}
}


// -------------------------------------------------------------------
// :: TILE ELEMENTS
// -------------------------------------------------------------------

.m-tile__image {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	transform: scale(1);
	transition: transform $animation-normal;

	z-index: layer("auto");
}

.m-tile__content {
	max-width: rem(675px);

	padding: rem(35px) rem(15px) rem(15px);

	z-index: layer("tile");

	@include at($screen-xs) {
		text-align: center;
	}

	@include at($screen-sm) {
		padding: rem(70px) rem(50px) rem(50px);

		text-align: center;
	}
}

.m-tile__title,
.m-tile__text {
	color: $white;
}

.m-tile__text {
	margin-top: rem(15px);

	font-weight: $font-weight-medium;

	@include at($screen-sm) {
		margin-top: rem(30px);
	}
}

.m-tile__button {
	margin-top: rem(20px);

	@include to($screen-xs) {
		width: 100%;
	}

	@include at($screen-sm) {
		margin-top: rem(30px);
	}
}
