{% set htmlParams = {
		'isStyleguide' : true,
		'bodyClass': '',
		'rootPath' : '',
		'pageName' : 'Index'
	}
%}
{% include "pages/_includes/_html_head.njk" %}

<section class="styleguide__index">
	<div class="container">
		<article>
			<h1>Drupal Styleguide</h1>
			<br>
			<ul class="a-list u-margin-bottom-lg">
				{% for template in PAGES._root %}
					<li><a href="pages/{{ template.path }}.html">{{ template.name }}</a></li>
				{% endfor %}
			</ul>

			{% for folder, templates in PAGES %}
				{% if folder !== '_root' %}
					<h4>{{ folder }}</h4>
					<ul class="a-list">
						{% for template in templates %}
							<li><a href="pages/{{ template.path }}.html">{{ template.name }}</a></li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endfor %}
			<p>
				<a class="a-button a-button--primary" href="styleguide.html">
					<span>Styleguide</span><span class="icon-arrow-forward"></span>
				</a>
			</p>
		</article>

		<hr/>
	</div>
</section>

{% include "pages/_includes/_html_footer.njk" %}
