{% set htmlParams = {
	'isStyleguide' : true,
	'bodyClass': '',
	'rootPath' : '',
	'pageName' : 'Styleguide'
} %}
{% set sassPaths = {
	utils: '/sass/base/utils/',
	quarks: '/sass/base/_quarks/',
	atoms: '/sass/base/atoms/',
	molecules: '/sass/base/molecules/',
	organisms: '/sass/base/organisms/',
	vendor: '/vendor/'
} %}
{% include "pages/_includes/_html_head.njk" %}

<div class="js-scroll-nav">

	<!-- CONTENT ///////////////////////////////////////////////////// -->

	<section class="styleguide">
		<div class="styleguide__container">
			<main>

				<!-- INTRO /////////////////////////////////////////// -->

				{% include "styleguide/intro.njk" %}

			</main>
		</div>
	</section>

	<!-- QUARKS ////////////////////////////////////////// -->

	<h1 class="styleguide__section-title js-scroll-nav__title">Quarks</h1>

	<section class="styleguide">
		<div class="styleguide__container">
			<main>

				<!-- GLOBALS ///////////////////////////////////////// -->

				{# {% include "quarks/globals.njk" %} #}

				<!-- COLORS ////////////////////////////////////////// -->

				{% include "quarks/colors.njk" %}

				<!-- TYPOGRAPHY ////////////////////////////////////// -->

				{% include "quarks/typography.njk" %}

				<!-- ICONS /////////////////////////////////////////// -->

				{% include "quarks/icons.njk" %}

			</main>
		</div>
	</section>

	<!-- ATOMS ////////////////////////////////////////// -->

	<h1 class="styleguide__section-title js-scroll-nav__title">Atoms</h1>

	<section class="styleguide">
		<div class="styleguide__container">
			<main>

				{% for atom in ATOMS %}
					{% include "atoms/" + atom + ".njk" %}
				{% endfor %}

			</main>
		</div>
	</section>


	<!-- MOLECULES ////////////////////////////////////////// -->

	<h1 class="styleguide__section-title js-scroll-nav__title">Molecules</h1>

	<section class="styleguide">
		<div class="styleguide__container">
			<main>

				{% for molecule in MOLECULES %}
					{% include "molecules/" + molecule + ".njk" %}
				{% endfor %}

			</main>
		</div>
	</section>

	<!-- ORGANISMS ////////////////////////////////////////// -->

	<h1 class="styleguide__section-title js-scroll-nav__title">Organisms</h1>

	<section class="styleguide">
		<div class="styleguide__container">
			<main>

				{% for organism in ORGANISMS %}
					{% include "organisms/" + organism + ".njk" %}
				{% endfor %}

			</main>
		</div>
	</section>
</div>

{% include "pages/_includes/_html_footer.njk" %}
