<div class="m-call-to-action m-call-to-action--with-pattern m-call-to-action--centered">
	<div class="m-call-to-action__inner">
		<p class="m-call-to-action__text">Schrijf u in op onze nieuwsbrieven om op de hoogte te blijven van alle nieuws en activiteiten.</p>
		<a href="#" class="a-button m-call-to-action__button">Inschrijven nieuwsbrief</a>
	</div>
</div>
