<a href="#" class="m-card">
	<img class="m-card__image" src="http://placeholder.pics/svg/360x275/DEDEDE/000000-DEDEDE" alt="Card image">

	<div class="m-card__body">
		<div class="m-card__content">
			<h5 class="m-card__title u-text-break-word">Dapibus ullamcorper fermentum</h5>
			<p class="m-card__description">Lorem ipsum</p>
		</div>

		<p class="m-card__link a-link">
			<span>Lees meer</span><span class="icon-arrow-forward"></span>
		</p>
	</div>
</a>
