<a href="#" class="m-card m-card--centered m-card--with-pattern">
	<div class="m-card__body">
		<div class="m-card__content">
			<h3 class="m-card__title">Bekijk alle nieuwsitems</h3>

			<div class="m-card__button a-button a-button--secondary a-button--round has-icon">
				<span class="icon-arrow-forward"></span>
			</div>
		</div>
	</div>
</a>
