<div class="m-details">
	<div class="m-details__block is-highlighted">
		<h4 class="m-details__block-title">Vrijdag</h4>
		<p class="m-details__block-number">13</p>
		<p>september</p>
	</div>

	<div class="m-details__block">
		<h4 class="m-details__block-title">Locatie</h4>
		<p>FPPW, Dunantlaan 2, 9000 Gent</p>
	</div>

	<div class="m-details__block">
		<h4 class="m-details__block-title">Tijdstip</h4>
		<p>09:00 - 17:30 uur</p>
	</div>

	<div class="m-details__block">
		<h4 class="m-details__block-title">Kostprijs</h4>
		<p>Gratis, Inschrijven verplicht</p>
	</div>
</div>
