<footer class="o-footer">
	<div class="o-footer__inner u-container">
		<div class="u-row">
			<div class="u-col-xs-12 u-col-sm-6">
				<div class="u-row">
					<div class="u-col-xs-12 u-col-sm-6">
						<h5 class="o-footer__title">Contact</h5>

						<ul class="a-list a-list--more-spacing">
							<li>
								<a href="mailto:info@district01.be">info@district01.be</a>
							</li>

							<li>
								<a href="tel:033383340">tel. 03 338 33 40</a>
							</li>
						</ul>
					</div>

					<div class="u-col-xs-12 u-col-sm-6">
						<h5 class="o-footer__title">Vind ons op</h5>

						<ul class="a-list-inline">
							<li>
								<a href="#"><span class="a-icon icon-facebook"></span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="u-col-xs-12 u-col-sm-6">
				<div class="o-footer__column">
					<p>
						Curabitur ac molestie risus. Aliquam erat volutpat. In bibendum convallis mollis. Nunc in lacinia eros. Vestibulum at commodo elit.
					</p>

					<img class="a-logo-antwerp" src="{{ htmlParams.rootPath }}img/logo/a-logo.svg" alt="logo" />
				</div>
			</div>
		</div>
	</div>
</footer>
