<form class="m-form">
	<div class="m-form__body">
		<div class="m-form__col">
			<div class="m-form__group m-form__group--full">
				<div class="a-input a-input--white a-input--angular is-required">
					<label class="a-input__label" for="email">E-mailadres</label>
					<div class="a-input__field-holder">
						<input type="email" name="email" id="email" placeholder="E-mailadres" />
					</div>
				</div>
			</div>
		</div>

		<div class="m-form__col">
			<div class="m-form__group m-form__group--full">
				<div class="a-input a-input--white a-input--angular is-required">
					<label class="a-input__label" for="name">Voornaam en naam</label>
					<div class="a-input__field-holder">
						<input type="text" name="name" id="name" placeholder="Voornaam en naam" />
					</div>
				</div>
			</div>
		</div>

		<div class="m-form__col">
			<div class="m-form__group m-form__group--full">
				<div class="a-input has-icon">
					<label class="a-input__label" for="education-level">Aenean in felis</label>
					<div class="a-input__field-holder">
						<select class="has-no-value" name="education-level" id="education-level">
							<option value="" selected disabled>Aenean in felis</option>
							<option value="1">Aenean in felis</option>
							<option value="2">Aenean in felis 2</option>
							<option value="3">Aenean in felis 3</option>
							<option value="4">Aenean in felis 4</option>
							<option value="5">Aenean in felis 5</option>
						</select>
						<span class="icon-arrow-down"></span>
					</div>
				</div>
			</div>
		</div>

		<div class="m-form__col">
			<div class="m-form__group m-form__group--full">
				<div class="a-input a-input--white a-input--angular is-required">
					<label class="a-input__label" for="school">Aenean in felis</label>
					<div class="a-input__field-holder">
						<input type="text" name="school" id="school" placeholder="Aenean in felis" />
					</div>
				</div>
			</div>
		</div>

		<div class="m-form__col">
			<div class="m-form__group m-form__group--full">
				<div class="a-input has-icon">
					<label class="a-input__label" for="function">Functie</label>
					<div class="a-input__field-holder">
						<select class="has-no-value" name="function" id="function">
							<option value="" selected disabled>Functie</option>
							<option value="1">Functie 1</option>
							<option value="2">Functie 2</option>
							<option value="3">Functie 3</option>
							<option value="4">Functie 4</option>
							<option value="5">Functie 5</option>
						</select>
						<span class="icon-arrow-down"></span>
					</div>
				</div>
			</div>
		</div>

		<div class="m-form__col">
			<div class="m-form__group m-form__group--full">
				<div class="a-input">
					<div class="a-input__checkbox">
						<input type="checkbox" id="newsletter1" name="newsletter1">
						<label for="newsletter1">Nieuwsbrief het belangrijkste nieuws, tips en tricks</label>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="m-form__footer">
		<button class="a-button a-button--primary">
			<span>Inschrijven</span>
		</button>
	</div>
</form>
