<button class="a-hamburger js-menu-toggle">
	<div class="a-hamburger__bars">
		<span class="a-hamburger__bar"></span>
		<span class="a-hamburger__bar"></span>
		<span class="a-hamburger__bar"></span>
	</div>

	<div class="a-hamburger__cross">
		<span class="a-hamburger__bar"></span>
		<span class="a-hamburger__bar"></span>
	</div>
</button>
