<div class="o-hero has-breadcrumb">
	<div class="o-hero__inner">
		<div class="o-hero__image" style="background-image: url('{{ htmlParams.rootPath }}img/hero/hero.jpg');"></div>

		<div class="o-hero__breadcrumb">
			{% include "partials/breadcrumb-dark.njk" %}
		</div>

		<div class="o-hero__container u-container u-container--xs">
			<div class="o-hero__content">
				<h1 class="o-hero__title">Lorem ipsum</h1>
				<p class="o-hero__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quas, neque similique ea reiciendis quae porro nemo quo iure commodi consequatur.</p>

				<a href="#" class="o-hero__button a-button a-button--secondary">
					<span>Lorem ipsum</span>
				</a>
			</div>
		</div>
	</div>
</div>
