<div class="o-hero o-hero--centered has-breadcrumb">
	<div class="o-hero__inner">
		<div class="o-hero__image" style="background-image: url('{{ htmlParams.rootPath }}img/hero/hero.jpg');"></div>

		<div class="o-hero__breadcrumb">
			{% include "partials/breadcrumb-dark.njk" %}
		</div>

		<div class="o-hero__container u-container">
			<div class="o-hero__content">
				<h1 class="o-hero__title">Lorem ipsum</h1>
			</div>
		</div>
	</div>
</div>
