<div class="m-info-block">
	<span class="m-info-block__icon a-icon icon-mail"></span>

	<p class="m-info-block__title">Georganiseerd door</p>

	<div class="m-info-block__content">
		<p>
			De Denkkaravaan<br>
			tel. 0477 27 38 08<br>
			<a class="u-text-break-all u-link-unstyled-sm" href="#">Tel. 0486 33 34 34</a><br>
			<a class="u-text-break-all" href="#">Website</a><br>
			<a class="u-text-break-all" href="#">steljevraag@dedenkkaravaan.be</a>
		</p>
	</div>
</div>
