<div class="a-info">
	<span class="a-info__icon a-icon icon-info u-text-primary"></span>

	<div class="a-info__tooltip a-tooltip">
		<p>
			<a href="https://www.district01.be" target="_blank">https://www.district01.be</a>
		</p>
	</div>
</div>
