<ul class="m-label-list">
	<li>
		<span class="a-label a-label--secondary">Mauris</span>
	</li>

	<li>
		<span class="a-label a-label--secondary">Mauris</span>
	</li>

	<li>
		<span class="a-label a-label--secondary">Mauris</span>
	</li>

	<li>
		<span class="a-label a-label--secondary">Mauris</span>
	</li>

	<li>
		<span class="a-label a-label--secondary">Mauris</span>
	</li>
</ul>
