<ul class="m-label-list">
	<li>
		<a href="#" class="a-label a-label--secondary">Mauris</a>
	</li>

	<li>
		<a href="#" class="a-label">Mauris</a>
	</li>

	<li>
		<a href="#" class="a-label">Mauris</a>
	</li>

	<li class="has-more-spacing">
		<a href="#" class="a-label">Mauris</a>
	</li>

	<li>
		<a href="#" class="a-label a-label--secondary">Mauris</a>
	</li>

	<li>
		<a href="#" class="a-label">Mauris</a>
	</li>

	<li class="has-more-spacing">
		<a href="#" class="a-label">Mauris</a>
	</li>

	<li>
		<a href="#" class="a-label a-label--secondary">Mauris</a>
	</li>

	<li>
		<a href="#" class="a-label">Mauris</a>
	</li>

	<li>
		<a href="#" class="a-label">Mauris</a>
	</li>

	<li>
		<a href="#" class="a-label">Mauris</a>
	</li>

	<li class="has-more-spacing">
		<a href="#" class="a-label">Mauris</a>
	</li>

	<li>
		<a href="#" class="a-label a-label--secondary">Mauris</a>
	</li>

	<li>
		<a href="#" class="a-label">Mauris</a>
	</li>

	<li>
		<a href="#" class="a-label">Mauris</a>
	</li>

	<li>
		<a href="#" class="a-label">Mauris</a>
	</li>

	<li class="has-more-spacing">
		<a href="#" class="a-label">Mauris</a>
	</li>
</ul>
