<ul class="m-label-list">
	<li>
		<span class="a-label">Aenean in felis</span>
	</li>

	<li>
		<span class="a-label">Aenean in felis</span>
	</li>

	<li>
		<span class="a-label">Aenean in felis</span>
	</li>

	<li>
		<span class="a-label">Aenean in felis</span>
	</li>

	<li>
		<span class="a-label">Aenean in felis</span>
	</li>

	<li>
		<span class="a-label">Aenean in felis</span>
	</li>
</ul>
