<ul class="m-label-list">
	<li>
		<span class="a-label a-label--with-button">
			<span>Lipsum</span>

			<button class="a-label__button">
				<span class="icon-close"></span>
			</button>
		</span>
	</li>

	<li>
		<span class="a-label a-label--with-button">
			<span>Mauris vitae</span>

			<button class="a-label__button">
				<span class="icon-close"></span>
			</button>
		</span>
	</li>
</ul>
