<ul class="m-menu">
	<li class="m-menu__link is-active">
		<a href="#">
			<span>Home</span>
		</a>
	</li>

	<li class="m-menu__link">
		<a href="#">
			<span>Activiteiten</span>
		</a>
	</li>

	<li class="m-menu__link">
		<a href="#">
			<span>Ondersteuning</span>
		</a>
	</li>

	<li class="m-menu__link">
		<a href="#">
			<span>Voor organisaties</span>
		</a>
	</li>

	<li class="m-menu__link">
		<a href="#">
			<span>Over ons</span>
		</a>
	</li>
</ul>
