<nav class="m-navigation">
	<ul class="m-navigation__nav">
		<li class="m-navigation__nav-item is-active">
			<a href="#">
				<span>Home</span>
			</a>
		</li>

		<li class="m-navigation__nav-item">
			<a href="#">
				<span>Activiteiten</span>
			</a>
		</li>

		<li class="m-navigation__nav-item">
			<a href="#">
				<span>Ondersteuning</span>
			</a>
		</li>

		<li class="m-navigation__nav-item">
			<a href="#">
				<span>Voor organisaties</span>
			</a>
		</li>

		<li class="m-navigation__nav-item">
			<a href="#">
				<span>Over ons</span>
			</a>
		</li>
	</ul>
</nav>
