<ul class="m-pagination">
	<li class="m-pagination__prev u-hidden">
		<a href="#">
			<span class="a-icon icon-arrow-left"></span>
		</a>
	</li>

	<li class="is-active">
		<a href="#">
			<span>1</span>
		</a>
	</li>

	<li>
		<a href="#">
			<span>2</span>
		</a>
	</li>

	<li>
		<a href="#">
			<span>3</span>
		</a>
	</li>

	<li>
		<a href="#">
			<span>4</span>
		</a>
	</li>

	<li class="m-pagination__next">
		<a href="#">
			<span class="a-icon icon-arrow-right"></span>
		</a>
	</li>
</ul>
