<ul class="m-quicklinks">
	<li>
		<a href="#" class="m-quicklinks__link">
			Ut posuere
		</a>
	</li>

	<li>
		<a href="#" class="m-quicklinks__link">
			In hendrerit
		</a>
	</li>

	<li>
		<a href="#" class="m-quicklinks__link">
			Donec sed
		</a>
	</li>

	<li>
		<a href="#" class="m-quicklinks__link">
			Nulla sagittis augue quis
		</a>
	</li>

	<li>
		<a href="#" class="m-quicklinks__link">
			Orci varius
		</a>
	</li>

	<li>
		<a href="#" class="m-quicklinks__link">
			Praesent mi
		</a>
	</li>
</ul>
