<form class="m-search m-search--sm">
	<div class="m-search__input">
		<input type="search" name="input-search" id="input-search" placeholder="Zoek op naam van de activiteit" />
	</div>

	<button class="a-button a-button--gray a-button--no-border has-icon">
		<span class="icon-search"></span>

		<!-- input[type="submit"] for Drupal purposes -->
		<input type="submit" value="">
	</button>
</form>
