<div class="js-slider a-slider"
	data-step="2"
	data-min="0"
	data-max="20"
	data-min-start="0"
	data-max-start="20"
	data-prefix="€"
	data-max-or-more="true"
	data-min-or-less="false"
	data-decimals="false">

	<div class="a-slider__range">
		<span class="js-slider-from-display a-slider__value">€0</span>
		<span>tot</span>
		<span class="js-slider-to-display a-slider__value">€20</span>
		{% include "partials/info.njk" %}
	</div>

	<div class="a-slider__slider js-slider-handle noUi-target noUi-ltr noUi-horizontal">
		<div class="slider-range"></div>
	</div>
</div>
