<div class="m-tile">
	<div class="m-tile__image" style="background-image:url('{{ htmlParams.rootPath }}img/hero/hero.jpg');"></div>

	<div class="m-tile__content">
		<h4 class="m-tile__title">Lorem ipsum</h4>
		<p>Sed viverra dui augue. Maecenas non sem nec mi tempus consequat eget a justo. Praesent vitae vehicula tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec bibendum consequat tristique. Curabitur porttitor erat sit amet purus semper, id dignissim turpis rhoncus. Vivamus tempus sapien eu nisi dignissim, sed aliquet dolor feugiat.</p>
		<a href="#" class="m-tile__button a-button-outline a-button--white">
			Meer info
		</a>
	</div>
</div>
