<div class="a-toggle">
	<div class="a-toggle__inner">
		<div class="a-toggle__field">
			<div class="a-toggle__label is-active">Tegelweergave</div>
		</div>

		<div class="a-toggle__field">
			<div class="a-toggle__label">Kaartweergave</div>
		</div>
	</div>
</div>
