<h1 class="styleguide__title js-scroll-nav__sub-title">Hero</h1>
<small>{{ sassPaths.molecules }}_hero.scss</small>
<br/><br/>

<div class="u-no-overflow">
	{% include "partials/hero-blank.njk" %}
</div>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		{% include "partials/hero-blank.njk" %}
	</code>
</div>

<hr>

<div class="u-no-overflow">
	{% include "partials/hero.njk" %}
</div>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		{% include "partials/hero.njk" %}
	</code>
</div>

<hr>

<div class="u-no-overflow">
	{% include "partials/hero-centered.njk" %}
</div>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		{% include "partials/hero-centered.njk" %}
	</code>
</div>