<h1 class="styleguide__title js-scroll-nav__sub-title">Block</h1>
<small>{{ sassPaths.molecules }}_block.scss</small>
<br/><br/>

{% include "partials/block.njk" %}

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		{% include "partials/block.njk" %}
	</code>
</div>

<hr>

{% include "partials/block-with-link.njk" %}

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		{% include "partials/block-with-link.njk" %}
	</code>
</div>

<hr>

{% include "partials/block-with-link-active.njk" %}

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		{% include "partials/block-with-link-active.njk" %}
	</code>
</div>
