<h1 class="styleguide__title js-scroll-nav__sub-title">Breadcrumb</h1>
<small>{{ sassPaths.molecules }}_breadcrumb.scss</small>
<br/><br/>

{% include "partials/breadcrumb.njk" %}

<div class="styleguide__highlight-box u-margin-bottom-lg">
	<code class="js-encode-html">
		{% include "partials/breadcrumb.njk" %}
	</code>
</div>

<hr>

{% include "partials/breadcrumb-dark.njk" %}

<div class="styleguide__highlight-box u-margin-bottom-lg">
	<code class="js-encode-html">
		{% include "partials/breadcrumb-dark.njk" %}
	</code>
</div>
