<h1 class="styleguide__title js-scroll-nav__sub-title">Call to action</h1>
<small>{{ sassPaths.molecules }}_call-to-action.scss</small>
<br/><br/>

{% include "partials/call-to-action.njk" %}

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		{% include "partials/call-to-action.njk" %}
	</code>
</div>