/*doc
---
title: Options field
name: optionsField
category: molecules
---


```html_example

<div class="row">
    <label class="col s6 m4 l3">
      <input type="checkbox" class="filled-in" checked="checked" />
      <span>Select me!</span>
    </label>

    <label class="col s6 m4 l3">
      <input type="checkbox" class="filled-in"/>
      <span>Select me!</span>
    </label>

    <label class="col s6 m4 l3">
      <input type="checkbox" class="filled-in" disabled="disabled"/>
      <span>not me!</span>
    </label>
</div>
```

*/
