<h1 class="styleguide__title js-scroll-nav__sub-title">Globals</h1>
<small>/sass/base/_globals.scss</small>

<h4 class="styleguide__sub-title">TODO: split this up in defferent vars</h4>
<p class="styleguide__p">
	now this is just a list of the globals. Provide examples and so on later on....
</p>

<ul class="a-inline-list">
	{% for name, content  in GLOBALS %}
		<li style="padding: 15px">
			<ul>
				<li>Name: <code>${{ name }}</code></li>
				<li>Value: {{ content.value }}</li>
				<li>Raw: {{ content.raw }}</li>
			</ul>
		</li>
	{% endfor %}
</ul>
