<h1 class="styleguide__title js-scroll-nav__sub-title">Icons</h1>
<small>{{ sassPaths.quarks }}_icons.scss</small>

<h4 class="styleguide__sub-title">Implementation</h4>
<p class="styleguide__p">
	The icon-set is converted with a custom Gulp iconfont-task. To add/remove icons from the generated font,
	please contact <a href="mailto:jan@litlemissrobot.com" title="Little Miss Robot">Little Miss Robot</a>
	or use an online service like IcoMoon. Warning: using an online service could break stuff!
</p>

<ul class="styleguide__list styleguide__icons">
	{% for icon in ICONS %}
		<li class="icon-{{ icon }}"><small>.icon-{{ icon }}</small></li>
	{% endfor %}
</ul>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<span class="icon-[name]"></span>
	</code>
</div>
