/*doc
---
title: Buttons
name: button
category: atoms
---
There are different styles and effects for buttons.

Normal Buttons

```html_example

<div class="d-flex">
  <div class="btn-group">
    <button class="btn btn-primary">Save me!</button>
  </div>
  <div class="btn-group">
    <button class="btn btn-secondary">Click me!</button>
  </div>
  <div class="btn-group">
    <button class="btn btn-danger">Click me!</button>
  </div>
</div>

```

Wave effect Buttons (on click)

```html_example
<div class="d-flex">
  <div class="btn-group">
    <button class="waves-effect btn btn-primary">Save me!</button>
  </div>
  <div class="btn-group">
    <button class="waves-effect btn btn-secondary">Click me!</button>
  </div>
  <div class="btn-group">
    <button class="waves-effect btn btn-danger">Click me!</button>
  </div>
</div>

```

large button

```html_example
<div class="d-flex">
  <div class="btn-group">
    <button class=" btn btn-primary btn-large">Save me!</button>
  </div>
  <div class="btn-group">
    <button class=" btn btn-secondary btn-large ">Click me!</button>
  </div>
  <div class="btn-group">
    <button class=" btn btn-danger btn-large ">Click me!</button>
  </div>
</div>

```

Outline button

```html_example
<div class="d-flex">
  <div class="btn-group">
    <button class=" btn btn-primary-outline">Save me!</button>
  </div>
  <div class="btn-group">
    <button class=" btn btn-secondary-outline">Click me!</button>
  </div>
  <div class="btn-group">
    <button class=" btn btn-danger-outline">Click me!</button>
  </div>
</div>

```

Icon buttons

```html_example
<button class="btn icon-btn">
  <i class="material-icons  md">delete_forever</i>
</button>

```


*/

.btn {
  font-weight: 700;
}

.btn-primary {
  background-color: color-get( 'yellow' );
  color: color-get('brown');
  &:hover {
    background-color: color-get( 'yellow' , 1, -10%);
  }
  &:active {
    background-color: color-get( 'yellow' , 1, -20%);
  }
  &:focus {
    background-color: color-get( 'yellow' , 1, -20%);
  }
}

.btn-primary-outline{
  border: 2px solid color-get( 'yellow' );
  color: color-get( 'yellow' );
  background-color: color-get( 'white' );
  box-shadow: none;
  &:hover {
    color: color-get( 'white' );
    background-color: color-get( 'yellow' , 1, -10%);
    box-shadow: none;
  }
  &:active {
    color: color-get( 'white' );
    background-color: color-get( 'yellow' , 1, -20%);
    box-shadow: none;
  }
  &:focus {
    color: color-get( 'white' );
    background-color: color-get( 'yellow' , 1, -20%);
    box-shadow: none;
  }
}




.btn-secondary {
  background-color: color-get( 'info' );
  color: color-get('white');
  &:hover {
    background-color: color-get( 'info' , 1, -10%);
  }
  &:active {
    background-color: color-get( 'info' , 1, -20%);
  }
  &:focus {
    background-color: color-get( 'info' , 1, -20%);
  }
}

.btn-secondary-outline{
  border: 2px solid color-get( 'info' );
  color: color-get( 'info' );
  background-color: color-get( 'white' );
  box-shadow: none;
  &:hover {
    color: color-get( 'white' );
    background-color: color-get( 'info' , 1, -10%);
    box-shadow: none;
  }
  &:active {
    color: color-get( 'white' );
    background-color: color-get( 'info' , 1, -20%);
    box-shadow: none;
  }
  &:focus {
    color: color-get( 'white' );
    background-color: color-get( 'info' , 1, -20%);
    box-shadow: none;
  }
}

.btn-danger {
  background-color: color-get( 'danger' );
  color: color-get('white');
  &:hover {
    background-color: color-get( 'danger' , 1, -10%);
  }
  &:active {
    background-color: color-get( 'danger' , 1, -20%);
  }
  &:focus {
    background-color: color-get( 'danger' , 1, -20%);
  }
}

.btn-danger-outline{
  border: 2px solid color-get( 'danger' );
  color: color-get( 'danger' );
  background-color: color-get( 'white' );
  box-shadow: none;
  &:hover {
    color: color-get( 'white' );
    background-color: color-get( 'danger' , 1, -10%);
    box-shadow: none;
  }
  &:active {
    color: color-get( 'white' );
    background-color: color-get( 'danger' , 1, -20%);
    box-shadow: none;
  }
  &:focus {
    color: color-get( 'white' );
    background-color: color-get( 'danger' , 1, -20%);
    box-shadow: none;
  }
}

.icon-btn{
  text-decoration: none;
  color: color-get('info');
  background-color: transparent;
  text-align: center;
  letter-spacing: .5px;
  transition: background-color .2s ease-out;
  cursor: pointer;
  box-shadow: none;
  padding: 0;
  margin: 0 10px;
}
.icon-btn:hover, .icon-btn:active, .icon-btn:focus  {
  text-decoration: none;
  color: color-get('info', 1, -25%);
  background-color: transparent;
  text-align: center;
  letter-spacing: .5px;
  transition: background-color .2s ease-out;
  cursor: pointer;
  box-shadow: none;
  margin: 0 10px;
}