<h1 class="styleguide__title js-scroll-nav__sub-title">Alerts</h1>
<small>{{ sassPaths.atoms }}_alerts.scss</small>
<br/><br/>

<div class="a-alert u-margin-bottom">
	<div class="a-alert__inner u-container">
		<p>Basic page <a href="#">page 1</a> has been created</p>
	</div>
</div>

<div class="a-alert a-alert--info u-margin-bottom">
	<div class="a-alert__inner u-container">
		<p>Basic page <a href="#">page 1</a> has been changed</p>
	</div>
</div>

<div class="a-alert a-alert--success u-margin-bottom">
	<div class="a-alert__inner u-container">
		<p>Basic page <a href="#">page 1</a> has been created</p>
	</div>
</div>

<div class="a-alert a-alert--error u-margin-bottom">
	<div class="a-alert__inner u-container">
		<p>Basic page <a href="#">page 1</a> has NOT been created</p>
	</div>
</div>

<div class="a-alert a-alert--info a-alert--transparent u-margin-bottom">
	<div class="a-alert__inner u-container">
		<p>Basic page <a href="#">page 1</a> has been changed</p>
	</div>
</div>

<div class="a-alert a-alert--success a-alert--transparent u-margin-bottom">
	<div class="a-alert__inner u-container">
		<p>Basic page <a href="#">page 1</a> has been created</p>
	</div>
</div>

<div class="a-alert a-alert--error a-alert--transparent">
	<div class="a-alert__inner u-container">
		<p>Basic page <a href="#">page 1</a> has NOT been created</p>
	</div>
</div>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<div class="a-alert">
			<div class="a-alert__inner u-container">
				<p>Basic page <a href="#">page 1</a> has been created</p>
			</div>
		</div>

		<div class="a-alert a-alert--info">
			<div class="a-alert__inner u-container">
				<p>Basic page <a href="#">page 1</a> has been changed</p>
			</div>
		</div>

		<div class="a-alert a-alert--success">
			<div class="a-alert__inner u-container">
				<p>Basic page <a href="#">page 1</a> has been created</p>
			</div>
		</div>

		<div class="a-alert a-alert--error">
			<div class="a-alert__inner u-container">
				<p>Basic page <a href="#">page 1</a> has NOT been created</p>
			</div>
		</div>

		<div class="a-alert a-alert--info a-alert--transparent">
			<div class="a-alert__inner u-container">
				<p>Basic page <a href="#">page 1</a> has been changed</p>
			</div>
		</div>

		<div class="a-alert a-alert--success a-alert--transparent">
			<div class="a-alert__inner u-container">
				<p>Basic page <a href="#">page 1</a> has been created</p>
			</div>
		</div>

		<div class="a-alert a-alert--error a-alert--transparent">
			<div class="a-alert__inner u-container">
				<p>Basic page <a href="#">page 1</a> has NOT been created</p>
			</div>
		</div>
	</code>
</div>
