<h1 id="buttons" class="styleguide__title js-scroll-nav__sub-title">Buttons</h1>
<small>{{ sassPaths.atoms }}_buttons.scss</small>

<h4 class="styleguide__sub-title">Implementation</h4>
<p class="styleguide__p">
	Use &lt;a&gt; for navigation, &lt;button&gt; for everything else. Submit/reset buttons are the only exceptions, using &lt;input[type="submit"]&gt; to trigger default browser behaviour associated with submitting form input. Buttons should follow a
	typographic scale, based on importance and base font-size.
</p>

<button class="a-button u-margin-right-sm">
	<span>Primary button</span>
</button>

<button class="a-button" disabled>
	<span>Disabled primary button</span>
</button>

<hr>

<button class="a-button a-button--secondary u-margin-right-sm">
	<span>Secondary button</span>
</button>

<button class="a-button a-button--secondary" disabled>
	<span>Disabled secondary button</span>
</button>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<button class="a-button">
			<span>Primary button</span>
		</button>

		<button class="a-button" disabled>
			<span>Disabled primary button</span>
		</button>

		<button class="a-button a-button--secondary">
			<span>Secondary button</span>
		</button>

		<button class="a-button a-button--secondary" disabled>
			<span>Disabled secondary button</span>
		</button>
	</code>
</div>

<hr>

<button class="a-button u-margin-right-sm">
	<span class="icon-arrow-back"></span><span>Button with icon left</span>
</button>

<button class="a-button">
	<span>Button with icon right</span><span class="icon-arrow-forward"></span>
</button>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<button class="a-button">
			<span class="icon-arrow-back"></span><span>Button with icon left</span>
		</button>

		<button class="a-button">
			<span>Button with icon right</span><span class="icon-arrow-forward"></span>
		</button>
	</code>
</div>

<hr>

<div style="background-color: #E7E7E9; padding: 20px;">
	<button class="a-button-outline u-margin-right-sm">
		<span>Outline button</span>
	</button>
</div>

<div style="background-color: #80CAA3; padding: 20px;">
	<button class="a-button-outline a-button--white">
		<span>White outline button</span>
	</button>
</div>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<button class="a-button-outline">
			<span>Outline button</span>
		</button>

		<button class="a-button-outline a-button--white">
			<span>White outline button</span>
		</button>
	</code>
</div>

<hr>

<div style="background-color: #E7E7E9; padding: 20px;">
	<button class="a-button-transparent u-margin-right-sm">
		<span>Transparent button</span>
	</button>
</div>

<div style="background-color: #80CAA3; padding: 20px;">
	<button class="a-button-transparent a-button--white">
		<span>White transparent button</span>
	</button>
</div>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<button class="a-button-transparent">
			<span>Transparent button</span>
		</button>

		<button class="a-button-transparent a-button--white">
			<span>White transparent button</span>
		</button>
	</code>
</div>

<hr>

<button class="a-button has-icon a-button--xs u-margin-right-sm">
	<span class="icon-close"></span>
</button>

<button class="a-button a-button--sm has-icon u-margin-right-sm">
	<span class="icon-close"></span>
</button>

<button class="a-button has-icon u-margin-right-sm">
	<span class="icon-close"></span>
</button>

<button class="a-button a-button--lg has-icon">
	<span class="icon-close"></span>
</button>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<button class="a-button a-button--xs has-icon">
			<span class="icon-close"></span>
		</button>

		<button class="a-button a-button--sm has-icon">
			<span class="icon-close"></span>
		</button>

		<button class="a-button has-icon">
			<span class="icon-close"></span>
		</button>

		<button class="a-button a-button--lg has-icon">
			<span class="icon-close"></span>
		</button>
	</code>
</div>

<hr>

<button class="a-button has-icon a-button--xs u-margin-right-sm icon-close"></button>

<button class="a-button a-button--sm has-icon u-margin-right-sm icon-close"></button>

<button class="a-button has-icon u-margin-right-sm icon-close"></button>

<button class="a-button a-button--lg has-icon icon-close"></button>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<button class="a-button a-button--xs has-icon icon-close"></button>

		<button class="a-button a-button--sm has-icon icon-close"></button>

		<button class="a-button has-icon icon-close"></button>

		<button class="a-button a-button--lg has-icon icon-close"></button>
	</code>
</div>

<hr>

<button class="a-button a-button--no-border">
	<span>Button with no border</span>
</button>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<button class="a-button a-button--no-border">
			<span>Button with no border</span>
		</button>
	</code>
</div>

<hr>

<button class="a-button a-button--full">
	<span>Full width button</span>
</button>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<button class="a-button a-button--full">
			<span>Full width button</span>
		</button>
	</code>
</div>

<hr>

<button class="a-button a-button--gray u-margin-right-sm">
	<span>Gray button</span>
</button>

<button class="a-button a-button--blue">
	<span>Blue button</span>
</button>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<button class="a-button a-button--gray">
			<span>Gray button</span>
		</button>

		<button class="a-button a-button--blue">
			<span>Blue button</span>
		</button>
	</code>
</div>

<hr>

<button class="a-button a-button--round">
	<span>Round button</span>
</button>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<button class="a-button a-button--round">
			<span>Round button</span>
		</button>
	</code>
</div>
