<h1 class="styleguide__title js-scroll-nav__sub-title">Labels</h1>
<small>{{ sassPaths.atoms }}_labels.scss</small>
<br/><br/>

<span class="a-label">Nullam tempor</span>
<span class="a-label a-label--primary">Nullam tempor</span>
<span class="a-label a-label--secondary">Nullam tempor</span>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<span class="a-label">Nullam tempor</span>
		<span class="a-label a-label--primary">Nullam tempor</span>
		<span class="a-label a-label--secondary">Nullam tempor</span>
	</code>
</div>

<hr>

<a href="#" class="a-label">Nullam tempor</a>
<a href="#" class="a-label a-label--primary">Nullam tempor</a>
<a href="#" class="a-label a-label--secondary">Nullam tempor</a>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<a href="#" class="a-label">Nullam tempor</a>
		<a href="#" class="a-label a-label--primary">Nullam tempor</a>
		<a href="#" class="a-label a-label--secondary">Nullam tempor</a>
	</code>
</div>

<hr>

<span class="a-label a-label--with-button">
	<span>Nullam tempor</span>

	<button class="a-label__button">
		<span class="icon-close"></span>
	</button>
</span>

<span class="a-label a-label--primary a-label--with-button">
	<span>Nullam tempor</span>

	<button class="a-label__button">
		<span class="icon-close"></span>
	</button>
</span>

<span class="a-label a-label--secondary a-label--with-button">
	<span>Nullam tempor</span>

	<button class="a-label__button">
		<span class="icon-close"></span>
	</button>
</span>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<span class="a-label a-label--with-button">
			<span>Nullam tempor</span>

			<button class="a-label__button">
				<span class="icon-close"></span>
			</button>
		</span>

		<span class="a-label a-label--primary a-label--with-button">
			<span>Nullam tempor</span>

			<button class="a-label__button">
				<span class="icon-close"></span>
			</button>
		</span>

		<span class="a-label a-label--secondary a-label--with-button">
			<span>Nullam tempor</span>

			<button class="a-label__button">
				<span class="icon-close"></span>
			</button>
		</span>
	</code>
</div>
