<h1 class="styleguide__title js-scroll-nav__sub-title">Links</h1>
<small>{{ sassPaths.atoms }}_links.scss</small>
<br/><br/>

<a href="#">
	<span class="icon-arrow-back"></span><span>This is a hyperlink</span>
</a>

<br/><br/>

<a href="#">
	<span>This is a hyperlink</span><span class="icon-arrow-forward"></span>
</a>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<a href="#">
			<span class="icon-arrow-back"></span><span>This is a hyperlink</span>
		</a>

		<a href="#">
			<span>This is a hyperlink</span><span class="icon-arrow-forward"></span>
		</a>
	</code>
</div>

<hr>

<a href="#" class="a-link">
	<span>This is a hyperlink</span><span class="icon-arrow-forward"></span>
</a>

<br/><br/>

<a href="#" class="a-link">
	<span class="icon-arrow-back"></span><span>This is a hyperlink</span>
</a>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<a href="#" class="a-link">
			<span>This is a hyperlink</span><span class="icon-arrow-forward"></span>
		</a>

		<a href="#" class="a-link">
			<span class="icon-arrow-back"></span><span>This is a hyperlink</span>
		</a>
	</code>
</div>

<hr>

<a href="#" class="a-link a-link--white">
	<span>This is a hyperlink</span><span class="icon-arrow-forward"></span>
</a>

<br/><br/>

<a href="#" class="a-link a-link--white">
	<span class="icon-arrow-back"></span><span>This is a hyperlink</span>
</a>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<a href="#" class="a-link a-link--white">
			<span>This is a hyperlink</span><span class="icon-arrow-forward"></span>
		</a>

		<a href="#" class="a-link--white">
			<span class="icon-arrow-back"></span><span>This is a hyperlink</span>
		</a>
	</code>
</div>
