<h1 class="styleguide__title js-scroll-nav__sub-title">Loader</h1>
<small>{{ sassPaths.atoms }}_loader.scss</small>
<br/><br/>

<p class="styleguide__p">A normal loader.</p>

<div class="a-loader">
	<div class="a-loader__spinner">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<div class="a-loader">
			<div class="a-loader__spinner">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</code>
</div>

<hr>

<p class="styleguide__p">A darker loader.</p>

<div class="a-loader a-loader--dark">
	<div class="a-loader__spinner">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<div class="a-loader a-loader--dark">
			<div class="a-loader__spinner">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</code>
</div>

<hr>

<p class="styleguide__p">A centered loader.</p>

<div class="a-loader a-loader--centered">
	<div class="a-loader__spinner">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<div class="a-loader a-loader--centered">
			<div class="a-loader__spinner">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</code>
</div>

<hr>

<p class="styleguide__p">A loader with more top and bottom spacing.</p>

<div class="a-loader a-loader--with-spacing">
	<div class="a-loader__spinner">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<div class="a-loader a-loader--with-spacing">
			<div class="a-loader__spinner">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</code>
</div>

<hr>

<p class="styleguide__p">A darker and centered loader with more top and bottom spacing.</p>

<div class="a-loader a-loader--dark a-loader--centered a-loader--with-spacing">
	<div class="a-loader__spinner">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<div class="a-loader a-loader--dark a-loader--centered a-loader--with-spacing">
			<div class="a-loader__spinner">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</code>
</div>
