<h1 class="styleguide__title js-scroll-nav__sub-title">Logo</h1>
<small>{{ sassPaths.atoms }}_logo.scss</small>
<br/><br/>

{% include "partials/logo.njk" %}

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		{% include "partials/logo.njk" %}
	</code>
</div>

<hr>

{% include "partials/logo-small.njk" %}

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		{% include "partials/logo-small.njk" %}
	</code>
</div>
