<h1 class="styleguide__title js-scroll-nav__sub-title">Map</h1>
<small>{{ sassPaths.atoms }}_map.scss</small>
<br/><br/>

{% include "partials/map.njk" %}

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		{% include "partials/map.njk" %}
	</code>
</div>

<hr>

{% include "partials/map-large.njk" %}

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		{% include "partials/map-large.njk" %}
	</code>
</div>
