<h1 class="styleguide__title js-scroll-nav__sub-title">Progress Bar</h1>
<small>{{ sassPaths.atoms }}_progress-bar.scss</small>
<br/><br/>

{% include "partials/progress-bar.njk" %}

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		{% include "partials/progress-bar.njk" %}
	</code>
</div>
