<h1 class="styleguide__title js-scroll-nav__sub-title">Text With Visual</h1>
<small>{{ sassPaths.atoms }}_text-with-visual.scss</small>
<br/><br/>

{% include "partials/text-with-image.njk" %}

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		{% include "partials/text-with-image.njk" %}
	</code>
</div>

<hr>

{% include "partials/text-with-bg-image.njk" %}

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		{% include "partials/text-with-bg-image.njk" %}
	</code>
</div>
