<h1 class="styleguide__title js-scroll-nav__sub-title">Tooltip</h1>
<small>{{ sassPaths.atoms }}_tooltip.scss</small>
<br/><br/>

<div class="a-tooltip">
	<br/>
	<br/>
	<br/>
	<br/>
</div>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<div class="a-tooltip"></div>
	</code>
</div>
