<h1 class="styleguide__title js-scroll-nav__sub-title">Video</h1>
<small>{{ sassPaths.atoms }}_video.scss</small>
<br/><br/>

{% include "partials/video.njk" %}

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		{% include "partials/video.njk" %}
	</code>
</div>
