$colors: (
  //contrasts
  'black': #000000,
  'darkgrey': #555,
  'grey': #7b7b7b,
  'lightgrey': #BEBEBE,
  'white': #FFF,
  //vibrants
  'yellow': #F2DA5E,
  'lightblue': #07DBF2,
  'blue': #0554F2,
  'darkblue': #0540F2,
  'brown': #73532C,

  // Actions
  'success': #9EEB46,
  'alert': #FFC107,
  'info': #51AFE8
);

@each $color-name, $color-hex in $colors {
  .bg-#{$color-name} {
    background-color: $color-hex;
  }

  .text-#{$color-name} {
    color: $color-hex;
  }
}

$screen-sm-min: 768px;
